*{
    margin:0;
    overflow-x: hidden;
}

.cabecera{
    height: 190px;
    background: #000000;
    overflow: hidden;
}

.cabecera img{
    width: 210px;
    position: relative;
    left: 130px;
}

.cabecera2{
    /*border-top-style: dotted;*/
    border-top: 1px solid #ffffff;
    height:70px;
    background: #000000;
}

.btn1{
    position: absolute;
    background: none;
    top: 130px;
    left: 1020px;
    font-size: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.btn_registro{
    background: #31AFB4;
    color: #000000;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}*

.btn_registro1 {
    position:relative;
    background: #31AFB4;
    color: #000000;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.botones{
    position: relative;
    background: none;
    list-style-type: none;
    top: 25px;
    left: 40px;
} 

.inicio{
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    padding: 20px;
    z-index: 7;
    display: inline;
    text-decoration: none;
}
